### /Users/roadhump/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/roadhump/.gitignore-boilerplates/Global/SublimeText.gitignore

# SublimeText project files
*.sublime-workspace
*.sublime-project


